*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family: 'Poppins', sans-serif;
    background: rgba(18, 39, 79, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

h1{
    position: absolute;
    top: 22px;
    left: 136px;
    color: rgba(255, 255, 255, 1);
    font-size: 55px;
    font-weight: 700;
    line-height: 83px;
    text-align: left;
    text-shadow: 0px 8px 0px #12274F;
}

h1 span{
    font-size: 71px;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0em;
    text-align: left;
    display: block;
 }

li a{
    height: 36px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase; 
    color: #fff;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 40px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
}

.logo{
    width: 145.29px;
    padding-top: 18px;
}

.menu-list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:21px;
}

.arrow-img{
    width: 418px;
}

.left-container, .right-container{
   position: relative;
}

.cta-btn{
    display: inline-block;
    text-decoration: none;
    position: absolute;
    top: 217px;
    left: 142px;
    padding: 13px 18px;
    width: 250px;
    background-color: #00FF75;
    box-shadow: 0px 10px 0px #12274F;
    border-radius: 50px;
    border: none;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #fff;
}

.cta-btn::after{
    position: absolute;
    left: 259px;
    bottom: -18px;
    content: url(images/fastfood.png);
    cursor: auto;
}

.fastfood-img{
    width: 88px;
}

.burger-img{
    width: 379px;
    height: 371px;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    padding-top: 115px;
}

.social-links{
    display: flex;
    justify-content: center;
    gap:78px;
}

footer .container{
    padding-top: 82px;
    padding-bottom: 22px;
}

